<mat-toolbar>
  <span>{{employeeService.form.controls['id'].value?"Update Employee" : "Add new Employee"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-icon-button (click)="onClose()" tabindex="-1"><mat-icon>close</mat-icon></button>
</mat-toolbar>
<form [formGroup]=employeeService.form (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="form-container">
        <input type="hidden" formControlName="id">

        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name" class="form-field">
          <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" class="form-field">
          <mat-error *ngIf="employeeService.form.controls['email'].errors?.required">Email is required</mat-error>
          <mat-error *ngIf="employeeService.form.controls['email'].errors?.email">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="dob" [matDatepicker]="picker" matInput placeholder="Date of Birth" class="form-field">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip
            *ngFor="let skill of selectedSkills"
            selectable = true
            removable = true
            (removed)="remove(skill)"
            >
              {{skill}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Skills"
              matInput
              #skillInput
              [formControl]="skillsCtrl"
              formControlName="skills"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur = true
            >
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
              {{skill}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="employeeService.form.invalid">Save</button>
          <button mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
